@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html {
    font-family: 'Poppins';
  }
  body {
    background-image: url('/src/assets/grid.png');
    color:#4a4746;
  }
  #McKenzie {
    background: linear-gradient(to bottom, transparent 50%,
    #fce041d5 50%);
  }
  .mySwiper .swiper {
    width: 100%;
    height: 100%;
  }
  
  .mySwiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mySwiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}